.UX__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.UX__card {
    width: 590px;
    height: 618px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UX__card img {
    width: 590px;
    height: 415px;
}

.UX__card h3 {
    font-family: "Montserrat" sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
}

.UX__card h2 {
    font-family: "Montserrat" sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
}

.UX__card p {
    font-family: "Montserrat" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
}
